<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Java Heroes Application</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
    <div class="menu">
        <h1>Employee Management System</h1>
        <a th:href="@{/register}">Register a new employee</a><br>
        <a sec:authorize="isAuthenticated()" th:href="@{/personal}">Personal page</a><br>
        <a sec:authorize="!isAuthenticated()" th:href="@{/login}">Login</a>
        <a sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
    </div>
</body>
</html>