<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<div class="form">
    <form th:action="@{/login}" method="post">
        <h1>Employee Management System</h1>
        <h2>Login</h2>
        <div class="input-box">
            <i aria-hidden="true" class="fa fa-user"></i>
            <input type="email" name="email" placeholder="E-mail">
        </div>
        <div class="input-box">
            <i aria-hidden="true" class="fa fa-user"></i>
            <input type="password" name="password" placeholder="Password" required>
        </div>
        <div class="input-box">
            <input type="submit" name="login" value="Login">
        </div>
        <a href="/">Navigate to main page</a>
    </form>
</div>
</body>
</html>