<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
    <div class="form">
        <form action="/register" method="post" th:object="${regRequest}">
            <h1>Employee Management System</h1>
            <h2>Register page</h2>
            <div class="input-box">
                <i aria-hidden="true" class="fa fa-user"></i>
                <label class="form-label" for="department">Department</label>
                <select class="form-select" name="departmentName" id="department">
                    <option th:each="department : ${departments}" th:value="${department}" th:text="${department}"></option>
                </select>
            </div>
            <div class="input-box">
                <i aria-hidden="true" class="fa fa-user"></i>
                <input type="text" name="firstName" placeholder="First name">
            </div>
            <div class="input-box">
                <i aria-hidden="true" class="fa fa-user"></i>
                <input type="text" name="lastName" placeholder="Last name">
            </div>
            <div class="input-box">
                <i aria-hidden="true" class="fa fa-user"></i>
                <input type="email" name="email" placeholder="E-mail">
            </div>
            <div class="input-box">
                <i aria-hidden="true" class="fa fa-user"></i>
                <input type="password" name="password" placeholder="Password" required>
            </div>
            <div class="input-box">
                <i aria-hidden="true" class="fa fa-user"></i>
                <label class="form-label" for="status">Status</label>
                <select class="form-select" id="status" th:field="*{employeeStatus}">
                    <option th:each="employeeStatus : ${selectStatusEmployee}"
                            th:value="${employeeStatus}" th:text="${employeeStatus}">
                    </option>
                </select>
            </div>
            <div class="input-box">
                <input type="submit" name="register" value="Register">
            </div>
            <a href="/">Navigate to main page</a>
        </form>
    </div>
</body>
</html>