<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Update page</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<div class="form">
    <h1>Employee Management System</h1>
    <h2>Update your data</h2>
    <form action="/updateEmployee" method="post">
        <div class="input-box">
            <i aria-hidden="true" class="fa fa-user"></i>
            <input type="hidden" name="email" th:value="${email}"/>
        </div>
        <div class="input-box">
            <i aria-hidden="true" class="fa fa-user"></i>
            <label class="form-label" for="firstName">First name</label>
            <input type="text" name="firstName" id="firstName" th:placeholder="${#authentication.getPrincipal().getFirstName()}">
        </div>
        <div class="input-box">
            <i aria-hidden="true" class="fa fa-user"></i>
            <label class="form-label" for="lastName">Last name</label>
            <input type="text" name="lastName" id="lastName"  th:placeholder="${#authentication.getPrincipal().getLastName()}">
        </div>
        <div class="input-box">
            <input type="submit" name="update" value="Update">
        </div>
        <a href="/personal">Navigate to personal page</a>
        <a href="/">Navigate to main page</a>
    </form>
</div>
</body>
</html>